.MainHeaderContainer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #1E2B45;
}



.HeaderRightPortion{
    /* display: flex; */
    align-items: center;
}

.rightLinkContainer{
    display: flex;
    gap: 2rem;
    font-size: 18px;
    align-items: center;
}
.HeaderLeftPortion {
    display: flex;
    align-items: center;
}

.logo-container {
    max-width: 248px;
}

.leftLinkContainer {
    /* display: flex; */
    gap: 2rem;
    align-items: center;
    margin-left: 5rem;
}

.spcl-container {
    display: flex;
    align-items: center;
}

.spcl {
    font-weight: 700;
}

.head-links {
    color: #FF720D;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}

@media screen and (max-width:710px) {
    .MainHeaderContainer {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .logo-container {
        max-width: 150px;
    }
}

@media screen and (min-width:711px) {
    .MainHeaderContainer {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

@media screen and (min-width:1024px) and (max-width:1400px) {
    .leftLinkContainer{
        margin-left: 1rem !important;
        gap: 1rem !important;
    }
    .MainHeaderContainer{
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    .head-links{
        font-size: 12px !important;
    }
    .rightLinkContainer{
        font-size: 12px !important;
        gap: 1rem !important;
    }
    .HeaderRightPortion{
        margin-left: 1rem !important;
    }
    .bnb{
        font-size: 12px !important;
    }
    .connect{
        font-size: 12px !important;
    }
    .coin-img{
        height: 30px !important;
        width: 30px !important;
    }
}

